##########################################################
## Folders                                              ##
##########################################################

venv
.idea
__pycache__
build
dist


##########################################################
## Files                                              ##
##########################################################

*.spec
*.log
